<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="pattern_file">%d{yyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</property>
        <property name="pattern_console">%relative %-5level %logger{1} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="ConfigLogger" fileName="${LOG_DIR}/config.log" append="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <File name="ObserverLogger" fileName="${LOG_DIR}/observer.log" append="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <File name="ReaderLogger" fileName="${LOG_DIR}/reader.log" append="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>

    </Appenders>
    <Loggers>

        <Logger name="epam.zlatamigas.customarray.config" level="debug" additivity="false">
            <AppenderRef ref="ConfigLogger"/>
        </Logger>

        <Logger name="epam.zlatamigas.customarray.observer" level="debug" additivity="false">
            <AppenderRef ref="ObserverLogger"/>
        </Logger>

        <Logger name="epam.zlatamigas.customarray.reader" level="debug" additivity="false">
            <AppenderRef ref="ReaderLogger"/>
        </Logger>

        <Root level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
